* {
  box-sizing: border-box;
  margin: 0;
  margin-right: 0;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 768px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_4 { /*Gambar Gunung*/
  width: 994px;
  height: 768px;
  background: url("/public/assets/images/v2_4.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: -346px;
  overflow: hidden;
  float: left;
}
.v2_5 {
  width: 650px;
  height: 768px;
  background: rgba(2,0,0,0.8500000238418579);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_8 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 199px;
  left: 791px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v3_10 {
  width: 30px;
  height: 29px;
  background: url("/public/assets/images/v3_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 277px;
  left: 709px;
  overflow: hidden;
}
.v3_11 {
  width: 30px;
  height: 30px;
  background: url("/public/assets/images/v3_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 334px;
  left: 709px;
  overflow: hidden;
}
.v3_12 {
  width: 181px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 277px;
  left: 756px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v3_15 {
  width: 181px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 334px;
  left: 756px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v4_24 {
  width: 106px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 342px;
  left: 796px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 13px;
  opacity: 0.5;
  text-align: center;
}
.v3_19 {
  width: 181px;
  height: 30px;
  background: rgba(2,0,0,1);
  opacity: 1;
  position: absolute;
  top: 406px;
  left: 756px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v3_20 {
  width: 128px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 413px;
  left: 783px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v4_23 {
  width: 106px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 285px;
  left: 796px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 13px;
  opacity: 0.5;
  text-align: center;
}
