<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="/public/assets/styleMain.css" rel="stylesheet" />
    </head>
    <body>
        <div class="v4_21">
            <div class="v4_22"></div>
            <div class="v4_30">
                <div class="v4_25"></div>
                <div class="v4_26"></div>
            </div>
            <div class="v5_31"></div>
            <span class="v5_32">Log out</span><div class="v5_33"></div><div class="v5_34"></div><span class="v5_36">GRAPH</span><div class="v6_49"></div></div></body></html> <br/><br/>